
<h1>Signup!</h1>
<br/>
<%= form_for :user, url: '/users' do |f| %>
  <div class="form-group">

  First Name <%= f.text_field :first_name, class:"form-control" %>
  <br/>
  Last Name <%= f.text_field :last_name,  class:"form-control"%>
  <br/>
  Email <%= f.text_field :email, class:"form-control" %>
  <br/>
  Password <%= f.password_field :password, class:"form-control" %>
  <br/>
  Password Confirmation <%= f.password_field :password_confirmation, class:"form-control" %>
  </div>
  <br/>
  <%= f.submit "Submit", class:"btn btn-primary"  %>

<% end %>

